{% extends "TechCorpFrontBundle::layout.html.twig" %}
{% block content %}
<div class="container">
	<h1>Timeline</h1>
	<table>
		<tr>
			<th>Utilisateur</th>
			<th>Contenu</th>
			<th>Supprimé</th>
			<th>Date de création</th>
		</tr>
		{% for status in statuses %}
		<tr>
			<td>
				<a href="{{ path("tech_corp_front_user_timeline",{ userId : status.user.id})}}">{{ status.user.username }}</a>
			</td>
			<td>
				{{ status.content }}
			</td>
			<td>
				{{ status.deleted ? "supprimé" : "visible"}}
			</td>
			<td>
				{% if status.createdAt %}
					{{ status.createdAt | date('Y-m-d H:i:s')}}
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock content %}